:root {
    --text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,100);
    --text-shadow-cyan: 0.1rem 0.1rem 1rem cyan;
    --text-shadow-white: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255);
    --text-shadow-dblue: 0.1rem 0.1rem 1rem rgb(20, 37, 189);
    --grey-scale: grayscale(100%);
    --color: rgb(255, 255, 255);
    --heroimage: linear-gradient(rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0.123)), url("../images/heroimage.jpg");
}

*{
    box-sizing: border-box;
}

html, body {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(220,238,248,100);
line-height: 2rem;
margin: 0;
    
}

header {
    width: 100%;
    height: max-content;
}

/* the hero image */
.hero-image {
    background-image: var(--heroimage);
    height: 100%;
    padding-bottom: 1rem;
    margin: 0;

    /* position and center the image so it scales for all screen sizes */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

/* position the hero text */
.hero-text {
    text-align: left;
    color: var(--color);
    margin-left: 2rem;
    /* width: 100%; */
}

/* hero text font styling */

.hero-text h1 {
    font-size: 3rem;
    line-height: 3rem;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 2rem;
    /* make it glow! */
    text-shadow: 0.1rem 0.1rem 1rem cyan, var(--text-shadow);
    
}

.hero-text p {
    width: 100%;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 200;
    word-spacing: -0.3rem;
    /* make it glow! */
    text-shadow: 0.1rem 0.1rem 0.5rem rgb(6, 218, 165), var(--text-shadow);

}

/* Navigation menu */

nav {
    /* float:inline-end; */
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    
}

ul.navigation {
    list-style: none;
    text-align: end;

}

/* ul.navigation > li {
    display: inline-block;
    text-align: end;
    padding-right: 1.5rem;

} */

/* link styling */

a {
    color: var(--color);
    text-shadow: var(--text-shadow)
}

/* make the link glow */
a:hover {
    text-shadow: 0px 0px 8px
    rgb(17, 238, 219), 0 0 15px
    rgb(124, 137, 253);
    }


/* nav.flex-bounding-box {
    font-size: 2rem;
    word-spacing: -0.3rem;
border: 1px solid orange;
width: 100%;
} 

.nav-flex-container {
    border: 2px solid yellow;
    list-style-type: none; 
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-content: stretch;
    align-items: center;
}

.nav-flex-items-1, .nav-flex-items-2, .nav-flex-items-3 {
border: 2px solid hotpink;
flex: 0.5 1 5%;
    text-shadow: var(--text-shadow);
    width: 100%;
    text-align: end;

} */
/* div.about-me-flex {
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: center;
}

div.about-me-flex-item1 {
    border: 2px solid orange;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    max-width: 100%;
}

div.about-me-flex-item2 {
    border: 2px solid red;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    max-width: 100%;
} */

.nav-flex-container-contact {
    border: 2px solid blueviolet;
    background-image: var(--heroimage);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-end;
    white-space: nowrap;
}

.nav-flex-contact-item1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    border: 2px solid yellow;
    max-width: 100%;
    padding-right: 1rem;
}

.nav-flex-contact-item2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    border: 2px solid green;
    max-width:100%;
    padding-right:1rem;
}

.nav-flex-contact-item3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    max-width:100%;
    border: 2px solid hotpink;
    padding-right: 1rem;
}

div.major-flex-box-about1 {
border: 3px dashed blue;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-basis: 100%;
align-content: center;
justify-content: center;
border: 3px solid cyan;
height: 100%;
width: 100%;

}

img.profile-pic {
    width: 23rem;
    height: auto;
    border-radius: 5%;
    display: flex;
    /* min-width: 50%; */
    /* margin-top: 3rem;
    margin-left: auto;
    margin-right: auto; */

    
}

div.major-flex-box-about2 {
    border: 3px dashed greenyellow;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    width: 100%;
 
}

div.about-me-flex {
    border: 3px dashed cyan;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 10%;
    /* max-width: 100%; */
 
}

/* styling and alignment for main body text and headings */

main h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

section p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1rem;
}

/* flexbox for the My Work section */

div.flex-work-containers {
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
}
div.flex-work-containers img {
    width:100%;
}

/* div.flex-work-about {
    border: 2px solid cyan;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    max-width: 100%;

} */

div.flex-work-item1 {
    /* just so I can see the edge of the flex items
    border: 5px solid yellow; */
    max-width: 100%;
    /* padding: 1rem; */
    flex: 2 0 100%;
    /* making the image greyscale */
    filter: var(--grey-scale);
    /* so we can position the overlaid text */
    /* position: relative; */

}

div.flex-work-item2 {
    /* just so I can see the edge of the flex items border: 5px solid green; */
    max-width: 100%;
    padding: 1rem;
    flex: 1 0 0;
     /* making the image greyscale */
     filter: var(--grey-scale);
     /* so we can position the overlaid text */
     /* position:relative; */
}

div.flex-work-item3 {
    /* just so I can see the edge of the flex items
    border: 5px solid hotpink; */
    padding: 1rem;
    max-width: 100%;
    flex: 1 0 0;
     /* making the image greyscale */
     filter: var(--grey-scale);
     /* so we can position the overlaid text */
     /* position: relative; */
}

/* Lets try to make the flex images fade in to colour on hover */

div.flex-work-item1:hover, div.flex-work-item2:hover, div.flex-work-item3:hover{
    filter:none;
    transition: all 3s 0.5s;
}


/* Headings for the flex-work-items explaining what they are */

p.code-refactor {
    /* position: absolute;
    width: 100%;
    top: 50%; */
    text-align: center; 
    line-height: 2.5rem;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);

}

/* Headings on smaller flex-work-items*/

p.landing-page, p.cheat-sheet {
    /* position: absolute; */
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);

}

/* p.landing-page {
    top: 40%;
    left: 10%;
}

p.cheat-sheet {
    top: 25%;
} */

/* ul.contact > li {
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    width: 100%; */
    /* line-height: 1.5rem;
} */

/* positioning contact icons and inverting the colour */

ul.contact {
    list-style-type: none;
    text-align:center;
    font-size: 1rem;
}

#github, #insta, #email {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    vertical-align: middle;
    filter:invert();
}
/* #insta {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    vertical-align:middle;
    filter:invert();
}

#email {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    vertical-align: middle;
    filter:invert();
} */

/* .nav-flex {
    border: 2px solid orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.nav-flex-container {
    border: 2px solid blueviolet;
    background-image: var(--heroimage);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.nav-flex-item1 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
    border: 2px solid yellow;
    max-width: 100%;
}

.nav-flex-item2 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
    border: 2px solid green;
    max-width:100%;
}

.nav-flex-item3 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
    max-width:100%;
    border: 2px solid hotpink;
}

footer {
    color: var(--color);
    text-shadow: var(--text-shadow-cyan), var(--text-shadow);
    background-image: var(--heroimage);
    text-align: center;
    padding: 2rem;
}

footer h3 {
    font-size: 1.5rem;
}

/* Make the website responsive for smaller screens with a media query */

@media screen and (max-width: 768px){
    .flex-work-containers{
        flex-grow: 1;
        flex-shrink: 0;
         flex-basis: 50%;
         max-width: 50%
    }

} 

@media screen and (max-width: 992px){

    .flex-work-containers{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 33%;
        max-width: 33%
    }

    p.code-refactor {
   
        text-align: center; 
        line-height: 2rem;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);
    
    }

    p.landing-page, p.cheat-sheet {
        /* position: absolute; */
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);
    
    }
} 